pipeline/C9_DBNotebook.json
{
	"name": "C9_DBNotebook",
	"properties": {
		"activities": [
			{
				"name": "GetFileName",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_ADLS2DB",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "EachFilePreview",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "GetFileName",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('GetFileName').output.childItems",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "If Condition1",
							"type": "IfCondition",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@endswith(item().name,'.csv')",
									"type": "Expression"
								},
								"ifFalseActivities": [
									{
										"name": "Notebook1",
										"type": "DatabricksNotebook",
										"dependsOn": [],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"notebookPath": "/Users/sreelekshmis2392@gmail.com/Other_Preview",
											"baseParameters": {
												"file_name": {
													"value": "@item().name",
													"type": "Expression"
												},
												"file_type": {
													"value": "@split(item().name,'.')[1]\n",
													"type": "Expression"
												}
											}
										},
										"linkedServiceName": {
											"referenceName": "ls_adb_csv",
											"type": "LinkedServiceReference"
										}
									}
								],
								"ifTrueActivities": [
									{
										"name": "CSVFiles",
										"type": "DatabricksNotebook",
										"dependsOn": [],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"notebookPath": "/Sree/CSV_preview",
											"baseParameters": {
												"file_name": {
													"value": "@item().name",
													"type": "Expression"
												}
											}
										},
										"linkedServiceName": {
											"referenceName": "ls_adb_csv",
											"type": "LinkedServiceReference"
										}
									}
								]
							}
						}
					]
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2026-02-12T02:22:44Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}