ADFTraining2026/ARMTemplateForFactory.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "ADFTraining2026"
		},
		"ds_TransformedData_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'ds_TransformedData'"
		},
		"ls_ADLS_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'ls_ADLS'"
		},
		"ls_ADLS2DB_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'ls_ADLS2DB'"
		},
		"ls_CSV2Parq_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'ls_CSV2Parq'"
		},
		"ls_Drive_Bronze_input_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'ls_Drive_Bronze_input'"
		},
		"ls_EmpPar_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'ls_EmpPar'"
		},
		"ls_KeyVaultCopyFromOnPrem_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'ls_KeyVaultCopyFromOnPrem'"
		},
		"ls_KeyVaultGetMeta_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'ls_KeyVaultGetMeta'"
		},
		"ls_KeyVaultNewFile2DF_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'ls_KeyVaultNewFile2DF'"
		},
		"ls_OnPrem2ADLS_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'ls_OnPrem2ADLS'"
		},
		"ls_OnPremLookUp_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'ls_OnPremLookUp'"
		},
		"ls_OnPremSQL2DB_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'ls_OnPremSQL2DB'"
		},
		"ls_OnPremSQLServer_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'ls_OnPremSQLServer'"
		},
		"ls_OnPremTable_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'ls_OnPremTable'"
		},
		"ls_OnPrem_Dyn_TName_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'ls_OnPrem_Dyn_TName'"
		},
		"ls_Parq_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'ls_Parq'"
		},
		"ls_Ref_IF_Copy_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'ls_Ref_IF_Copy'"
		},
		"ls_SQL_Bronze_Input_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'ls_SQL_Bronze_Input'"
		},
		"ls_keyvault_onprem_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'ls_keyvault_onprem'"
		},
		"ls_onPremSQLOLTPTable_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'ls_onPremSQLOLTPTable'"
		},
		"AzureKeyVault1_properties_typeProperties_baseUrl": {
			"type": "string",
			"defaultValue": "https://KeyValut00.vault.azure.net/"
		},
		"AzureKeyVault2_properties_typeProperties_baseUrl": {
			"type": "string",
			"defaultValue": "https://AzSQLKey.vault.azure.net/"
		},
		"SQL_ServerKey_properties_typeProperties_baseUrl": {
			"type": "string",
			"defaultValue": "https://KeyVaults007.vault.azure.net/"
		},
		"ds_TransformedData_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://azadlsstorageaccount.dfs.core.windows.net/"
		},
		"ls_ADLS_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://azadlsstorageaccount.dfs.core.windows.net/"
		},
		"ls_ADLS2DB_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://azadlsstorageaccount.dfs.core.windows.net/"
		},
		"ls_CSV2Parq_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://azadlsstorageac.dfs.core.windows.net/"
		},
		"ls_Drive_Bronze_input_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://azadlsstorageac.dfs.core.windows.net/"
		},
		"ls_EmpPar_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://azadlsstorageaccount.dfs.core.windows.net/"
		},
		"ls_KeyVaultCopyFromOnPrem_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "FALCON"
		},
		"ls_KeyVaultCopyFromOnPrem_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "LearnSQL"
		},
		"ls_KeyVaultCopyFromOnPrem_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "Sree"
		},
		"ls_KeyVaultGetMeta_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "FALCON"
		},
		"ls_KeyVaultGetMeta_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "LearnSQL"
		},
		"ls_KeyVaultGetMeta_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "Sree"
		},
		"ls_KeyVaultNewFile2DF_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://azadlsstorageaccount.dfs.core.windows.net/"
		},
		"ls_OnPrem2ADLS_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://azadlsstorageaccount.dfs.core.windows.net/"
		},
		"ls_OnPremLookUp_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "FALCON"
		},
		"ls_OnPremLookUp_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "LearnSQL"
		},
		"ls_OnPremLookUp_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "Sree"
		},
		"ls_OnPremSQL_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "FALCON"
		},
		"ls_OnPremSQL_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "LearnSQL"
		},
		"ls_OnPremSQL_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "Niran"
		},
		"ls_OnPremSQL2DB_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "FALCON"
		},
		"ls_OnPremSQL2DB_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "LearnSQL"
		},
		"ls_OnPremSQL2DB_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "Sree"
		},
		"ls_OnPremSQLServer_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "FALCON"
		},
		"ls_OnPremSQLServer_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "LearnSQL"
		},
		"ls_OnPremSQLServer_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "Sree"
		},
		"ls_OnPremTable_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "FALCON"
		},
		"ls_OnPremTable_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "LearnSQL"
		},
		"ls_OnPremTable_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "Niran"
		},
		"ls_OnPrem_Dyn_TName_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "FALCON"
		},
		"ls_OnPrem_Dyn_TName_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "LearnSQL"
		},
		"ls_OnPrem_Dyn_TName_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "Niran"
		},
		"ls_Parq_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://azadlsstorageac.dfs.core.windows.net/"
		},
		"ls_Ref_IF_Copy_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://azadlsstorageaccount.dfs.core.windows.net/"
		},
		"ls_SQLTable_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "historical.database.windows.net"
		},
		"ls_SQLTable_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "TempData"
		},
		"ls_SQLTable_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "Niran"
		},
		"ls_SQL_Bronze_Input_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://azadlsstorageac.dfs.core.windows.net/"
		},
		"ls_TempTable_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "historical.database.windows.net"
		},
		"ls_TempTable_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "TempData"
		},
		"ls_TempTable_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "Niran"
		},
		"ls_WebTable_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://docs.google.com/spreadsheets/d/1BS94oCWlEqZVbW3mT5AVwTrK-gCYoI5i5WyrYoxsh_A/"
		},
		"ls_adb_csv_properties_typeProperties_existingClusterId": {
			"type": "string",
			"defaultValue": "0209-025758-ausnyyzo"
		},
		"ls_keyvault_onprem_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "FALCON"
		},
		"ls_keyvault_onprem_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "LearnSQL"
		},
		"ls_keyvault_onprem_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "Sree"
		},
		"ls_onPremSQLOLTPTable_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "FALCON"
		},
		"ls_onPremSQLOLTPTable_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "LearnSQL"
		},
		"ls_onPremSQLOLTPTable_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "Niran"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/DatabricksPro')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "GoogleDriveFile",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "HttpReadSettings",
									"requestMethod": "GET",
									"requestTimeout": ""
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".csv"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_WebTable",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_Drive_Bronze_input",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "OnPrem",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".csv"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_OnPremSQL",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_SQL_Bronze_Input",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "CSV2Parquet",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "GoogleDriveFile",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "OnPrem",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"wildcardFileName": "*",
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "ParquetSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "ParquetWriteSettings"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_2Parq",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_Parq",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": [],
				"lastPublishTime": "2026-03-08T12:18:46Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_WebTable')]",
				"[concat(variables('factoryId'), '/datasets/ds_Drive_Bronze_input')]",
				"[concat(variables('factoryId'), '/datasets/ds_OnPremSQL')]",
				"[concat(variables('factoryId'), '/datasets/ds_SQL_Bronze_Input')]",
				"[concat(variables('factoryId'), '/datasets/ds_2Parq')]",
				"[concat(variables('factoryId'), '/datasets/ds_Parq')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_2Parq')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_CSV2Parq",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileSystem": "bronze"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "customer_id",
						"type": "String"
					},
					{
						"name": "customer_name",
						"type": "String"
					},
					{
						"name": "email",
						"type": "String"
					},
					{
						"name": "phone",
						"type": "String"
					},
					{
						"name": "address",
						"type": "String"
					},
					{
						"name": "city",
						"type": "String"
					},
					{
						"name": "state",
						"type": "String"
					},
					{
						"name": "zip_code",
						"type": "String"
					},
					{
						"name": "country",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_CSV2Parq')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_ADLS2DB')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_ADLS2DB",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "input",
						"fileSystem": "adlscontainer"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": false,
					"quoteChar": "\""
				},
				"schema": [
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_ADLS2DB')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_BackUp')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_EmpPar",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "output",
						"fileSystem": "adlscontainer"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_EmpPar')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_CSVInput')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_ADLS",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "employee_data_windows.csv",
						"folderPath": "input",
						"fileSystem": "adlscontainer"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "ID",
						"type": "String"
					},
					{
						"name": "Name",
						"type": "String"
					},
					{
						"name": "Department",
						"type": "String"
					},
					{
						"name": "Joining_Date",
						"type": "String"
					},
					{
						"name": "Salary",
						"type": "String"
					},
					{
						"name": "Bonus",
						"type": "String"
					},
					{
						"name": "Location",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_ADLS')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_Drive_Bronze_input')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_Drive_Bronze_input",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "Orders",
						"fileSystem": "bronze"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_Drive_Bronze_input')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_EmpPar')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_EmpPar",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "output",
						"fileSystem": "adlscontainer"
					},
					"compressionCodec": "snappy"
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_EmpPar')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_EmployeeCSV')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_ADLS",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "employee_data_windows.csv",
						"folderPath": "input",
						"fileSystem": "adlscontainer"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "Department_ID",
						"type": "String"
					},
					{
						"name": "Department_Name",
						"type": "String"
					},
					{
						"name": "Employee_ID",
						"type": "String"
					},
					{
						"name": "Name",
						"type": "String"
					},
					{
						"name": "Salary",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_ADLS')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_ExcelInput')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_ADLS",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Excel",
				"typeProperties": {
					"sheetName": "TransactionsData",
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "Analyst_Example_Task.xlsx",
						"folderPath": "input",
						"fileSystem": "adlscontainer"
					},
					"firstRowAsHeader": true
				},
				"schema": [
					{
						"name": "Regions",
						"type": "String"
					},
					{
						"name": "Mar",
						"type": "String"
					},
					{
						"name": "Apr",
						"type": "String"
					},
					{
						"name": "May",
						"type": "String"
					},
					{
						"name": "Jun",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_ADLS')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_FolderInput')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_ADLS",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "input",
						"fileSystem": "adlscontainer"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "ID",
						"type": "String"
					},
					{
						"name": "Name",
						"type": "String"
					},
					{
						"name": "Department",
						"type": "String"
					},
					{
						"name": "Joining_Date",
						"type": "String"
					},
					{
						"name": "Salary",
						"type": "String"
					},
					{
						"name": "Bonus",
						"type": "String"
					},
					{
						"name": "Location",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_ADLS')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_If_Structure_Copy')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_EmpPar",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "output",
						"fileSystem": "adlscontainer"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "column_a",
						"type": "String"
					},
					{
						"name": "trans_id",
						"type": "String"
					},
					{
						"name": "account_id",
						"type": "String"
					},
					{
						"name": "type",
						"type": "String"
					},
					{
						"name": "operation",
						"type": "String"
					},
					{
						"name": "amount",
						"type": "String"
					},
					{
						"name": "balance",
						"type": "String"
					},
					{
						"name": "symbol",
						"type": "String"
					},
					{
						"name": "bank",
						"type": "String"
					},
					{
						"name": "account",
						"type": "String"
					},
					{
						"name": "year",
						"type": "String"
					},
					{
						"name": "month",
						"type": "String"
					},
					{
						"name": "day",
						"type": "String"
					},
					{
						"name": "fulldate",
						"type": "String"
					},
					{
						"name": "fulltime",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_EmpPar')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_JSON')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_EmpPar",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "employee_data_windows.json",
						"folderPath": "output",
						"fileSystem": "adlscontainer"
					}
				},
				"schema": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_EmpPar')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_Join2Input')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_ADLS",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "Join2.csv",
						"folderPath": "input",
						"fileSystem": "adlscontainer"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "ID",
						"type": "String"
					},
					{
						"name": "FIRST_NAME",
						"type": "String"
					},
					{
						"name": "LAST_NAME",
						"type": "String"
					},
					{
						"name": "MEMBER_ID",
						"type": "String"
					},
					{
						"name": "APPOINTMENT_DESCRIPTION",
						"type": "String"
					},
					{
						"name": "APPOINTMENT_ID",
						"type": "String"
					},
					{
						"name": "AGE",
						"type": "String"
					},
					{
						"name": "APPOINTMENT_DATE",
						"type": "String"
					},
					{
						"name": "Gender",
						"type": "String"
					},
					{
						"name": "TREATMENT_AMOUNT",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_ADLS')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_JoinInput')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_ADLS",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "CompTrans.csv",
						"folderPath": "ref",
						"fileSystem": "adlscontainer"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "ID",
						"type": "String"
					},
					{
						"name": "FIRST_NAME",
						"type": "String"
					},
					{
						"name": "LAST_NAME",
						"type": "String"
					},
					{
						"name": "MEMBER_ID",
						"type": "String"
					},
					{
						"name": "APPOINTMENT_DESCRIPTION",
						"type": "String"
					},
					{
						"name": "APPOINTMENT_ID",
						"type": "String"
					},
					{
						"name": "AGE",
						"type": "String"
					},
					{
						"name": "APPOINTMENT_DATE",
						"type": "String"
					},
					{
						"name": "Gender",
						"type": "String"
					},
					{
						"name": "TREATMENT_AMOUNT",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_ADLS')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_JoinOutput')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_ADLS",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "output",
						"fileSystem": "adlscontainer"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "column_a",
						"type": "String"
					},
					{
						"name": "trans_id",
						"type": "String"
					},
					{
						"name": "account_id",
						"type": "String"
					},
					{
						"name": "type",
						"type": "String"
					},
					{
						"name": "operation",
						"type": "String"
					},
					{
						"name": "amount",
						"type": "String"
					},
					{
						"name": "balance",
						"type": "String"
					},
					{
						"name": "symbol",
						"type": "String"
					},
					{
						"name": "bank",
						"type": "String"
					},
					{
						"name": "account",
						"type": "String"
					},
					{
						"name": "year",
						"type": "String"
					},
					{
						"name": "month",
						"type": "String"
					},
					{
						"name": "day",
						"type": "String"
					},
					{
						"name": "fulldate",
						"type": "String"
					},
					{
						"name": "fulltime",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_ADLS')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_JsonInput')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_ADLS",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "employee_data_windows.json",
						"folderPath": "input",
						"fileSystem": "adlscontainer"
					}
				},
				"schema": {
					"type": "object",
					"properties": {
						"Department_ID": {
							"type": "string"
						},
						"Department_Name": {
							"type": "string"
						},
						"Employee_ID": {
							"type": "string"
						},
						"Name": {
							"type": "string"
						},
						"Salary": {
							"type": "string"
						}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_ADLS')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_KeyVaultADLSContMetaData')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_ADLS",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "KeyVaultTryALL",
						"fileSystem": "adlscontainer"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": false,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "column_a",
						"type": "String"
					},
					{
						"name": "trans_id",
						"type": "String"
					},
					{
						"name": "account_id",
						"type": "String"
					},
					{
						"name": "type",
						"type": "String"
					},
					{
						"name": "operation",
						"type": "String"
					},
					{
						"name": "amount",
						"type": "String"
					},
					{
						"name": "balance",
						"type": "String"
					},
					{
						"name": "symbol",
						"type": "String"
					},
					{
						"name": "bank",
						"type": "String"
					},
					{
						"name": "account",
						"type": "String"
					},
					{
						"name": "year",
						"type": "String"
					},
					{
						"name": "month",
						"type": "String"
					},
					{
						"name": "day",
						"type": "String"
					},
					{
						"name": "fulldate",
						"type": "String"
					},
					{
						"name": "fulltime",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_ADLS')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_KeyVaultADLSFIleSave')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_ADLS",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "KeyVaultTryALL",
						"fileSystem": "adlscontainer"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_ADLS')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_KeyVaultCopyFromOnPrem')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_KeyVaultCopyFromOnPrem",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"CopyTableName": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo",
					"table": {
						"value": "@dataset().CopyTableName",
						"type": "Expression"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_KeyVaultCopyFromOnPrem')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_KeyVaultDataFlowSource')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_ADLS",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"DF_TableName": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@dataset().DF_TableName",
							"type": "Expression"
						},
						"folderPath": "KeyVaultTryALL",
						"fileSystem": "adlscontainer"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_ADLS')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_KeyVault_GetMeta')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_KeyVaultGetMeta",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"TableName": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo",
					"table": {
						"value": "@dataset().TableName",
						"type": "Expression"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_KeyVaultGetMeta')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_OnPrem2ADLS')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_OnPrem2ADLS",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "output",
						"fileSystem": "adlscontainer"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "column_a",
						"type": "String"
					},
					{
						"name": "trans_id",
						"type": "String"
					},
					{
						"name": "account_id",
						"type": "String"
					},
					{
						"name": "type",
						"type": "String"
					},
					{
						"name": "operation",
						"type": "String"
					},
					{
						"name": "amount",
						"type": "String"
					},
					{
						"name": "balance",
						"type": "String"
					},
					{
						"name": "symbol",
						"type": "String"
					},
					{
						"name": "bank",
						"type": "String"
					},
					{
						"name": "account",
						"type": "String"
					},
					{
						"name": "year",
						"type": "String"
					},
					{
						"name": "month",
						"type": "String"
					},
					{
						"name": "day",
						"type": "String"
					},
					{
						"name": "fulldate",
						"type": "String"
					},
					{
						"name": "fulltime",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_OnPrem2ADLS')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_OnPremCopyAll2ADLS')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_OnPremLookUp",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"TableName": {
						"type": "string"
					},
					"TableSchema": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [],
				"typeProperties": {
					"schema": {
						"value": "@dataset().TableSchema",
						"type": "Expression"
					},
					"table": {
						"value": "@dataset().TableName",
						"type": "Expression"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_OnPremLookUp')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_OnPremLookUp')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_OnPremLookUp",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [],
				"typeProperties": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_OnPremLookUp')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_OnPremSQL')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_OnPremSQL",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "customer_id",
						"type": "tinyint",
						"precision": 3
					},
					{
						"name": "customer_name",
						"type": "nvarchar"
					},
					{
						"name": "email",
						"type": "nvarchar"
					},
					{
						"name": "phone",
						"type": "nvarchar"
					},
					{
						"name": "address",
						"type": "nvarchar"
					},
					{
						"name": "city",
						"type": "nvarchar"
					},
					{
						"name": "state",
						"type": "nvarchar"
					},
					{
						"name": "zip_code",
						"type": "int",
						"precision": 10
					},
					{
						"name": "country",
						"type": "nvarchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "Customers"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_OnPremSQL')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_OnPremSQL2DB')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_OnPremSQL2DB",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [],
				"typeProperties": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_OnPremSQL2DB')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_OnPremSQLServer_1Table')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_OnPremSQLServer",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "DEPTNO",
						"type": "int",
						"precision": 10
					},
					{
						"name": "DNAME",
						"type": "varchar"
					},
					{
						"name": "LOC",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "DEPT"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_OnPremSQLServer')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_OnPremTable')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_OnPremTable",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo",
					"table": "CompTrans"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_OnPremTable')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_OnPremTable2CSV')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_EmpPar",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "output",
						"fileSystem": "adlscontainer"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "column_a",
						"type": "String"
					},
					{
						"name": "trans_id",
						"type": "String"
					},
					{
						"name": "account_id",
						"type": "String"
					},
					{
						"name": "type",
						"type": "String"
					},
					{
						"name": "operation",
						"type": "String"
					},
					{
						"name": "amount",
						"type": "String"
					},
					{
						"name": "balance",
						"type": "String"
					},
					{
						"name": "symbol",
						"type": "String"
					},
					{
						"name": "bank",
						"type": "String"
					},
					{
						"name": "account",
						"type": "String"
					},
					{
						"name": "year",
						"type": "String"
					},
					{
						"name": "month",
						"type": "String"
					},
					{
						"name": "day",
						"type": "String"
					},
					{
						"name": "fulldate",
						"type": "String"
					},
					{
						"name": "fulltime",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_EmpPar')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_OnPrem_Dy_TName')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_OnPrem_Dyn_TName",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"TableName": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo",
					"table": {
						"value": "@dataset().TableName",
						"type": "Expression"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_OnPrem_Dyn_TName')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_Parq')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_Parq",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileSystem": "bronze"
					},
					"compressionCodec": "snappy"
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_Parq')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_ParquetInput')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_ADLS",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "employee_data_windows.parquet",
						"folderPath": "input",
						"fileSystem": "adlscontainer"
					},
					"compressionCodec": "snappy"
				},
				"schema": [
					{
						"name": "Department_ID",
						"type": "UTF8"
					},
					{
						"name": "Department_Name",
						"type": "UTF8"
					},
					{
						"name": "Employee_ID",
						"type": "UTF8"
					},
					{
						"name": "Name",
						"type": "UTF8"
					},
					{
						"name": "Salary",
						"type": "UTF8"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_ADLS')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_RefFile_CSV')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_Ref_IF_Copy",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "TransactionsDataOLAP.csv",
						"folderPath": "ref",
						"fileSystem": "adlscontainer"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "column_a",
						"type": "String"
					},
					{
						"name": "trans_id",
						"type": "String"
					},
					{
						"name": "account_id",
						"type": "String"
					},
					{
						"name": "type",
						"type": "String"
					},
					{
						"name": "operation",
						"type": "String"
					},
					{
						"name": "amount",
						"type": "String"
					},
					{
						"name": "balance",
						"type": "String"
					},
					{
						"name": "symbol",
						"type": "String"
					},
					{
						"name": "bank",
						"type": "String"
					},
					{
						"name": "account",
						"type": "String"
					},
					{
						"name": "year",
						"type": "String"
					},
					{
						"name": "month",
						"type": "String"
					},
					{
						"name": "day",
						"type": "String"
					},
					{
						"name": "fulldate",
						"type": "String"
					},
					{
						"name": "fulltime",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_Ref_IF_Copy')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_RefFile_XLS')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_Ref_IF_Copy",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Excel",
				"typeProperties": {
					"sheetName": "CompTrans",
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "CompTrans.xls",
						"folderPath": "ref",
						"fileSystem": "adlscontainer"
					}
				},
				"schema": [
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_Ref_IF_Copy')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_SQLTable')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_SQLTable",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "Order_Number",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Customer_Key",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Order_Sequence_No",
						"type": "tinyint",
						"precision": 3
					},
					{
						"name": "Channel",
						"type": "nvarchar"
					},
					{
						"name": "Order_Date",
						"type": "date"
					},
					{
						"name": "Hour_of_Day",
						"type": "tinyint",
						"precision": 3
					},
					{
						"name": "Region",
						"type": "nvarchar"
					},
					{
						"name": "Brand_Key",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "Category",
						"type": "nvarchar"
					},
					{
						"name": "Units",
						"type": "tinyint",
						"precision": 3
					},
					{
						"name": "RRP_Revenue",
						"type": "float",
						"precision": 15
					},
					{
						"name": "Revenue",
						"type": "float",
						"precision": 15
					},
					{
						"name": "Total_Discount",
						"type": "float",
						"precision": 15
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "TransactionsDataOLAP"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_SQLTable')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_SQL_Bronze_Input')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_SQL_Bronze_Input",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "Customers",
						"fileSystem": "bronze"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_SQL_Bronze_Input')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_TempTable')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_TempTable",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "Order_Number",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "Customer_Key",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "Order_Sequence_No",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Channel",
						"type": "varchar"
					},
					{
						"name": "Order_Date",
						"type": "varchar"
					},
					{
						"name": "Hour_of_Day",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Region",
						"type": "varchar"
					},
					{
						"name": "Brand_Key",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Category",
						"type": "varchar"
					},
					{
						"name": "Units",
						"type": "int",
						"precision": 10
					},
					{
						"name": "RRP_Revenue",
						"type": "decimal",
						"precision": 10,
						"scale": 2
					},
					{
						"name": "Revenue",
						"type": "decimal",
						"precision": 10,
						"scale": 2
					},
					{
						"name": "Total_Discount",
						"type": "int",
						"precision": 10
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "TransactionsDataOLAP"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_TempTable')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_TransformedData')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ds_TransformedData",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "FinalData.csv",
						"folderPath": "TransformedData",
						"fileSystem": "adlscontainer"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ds_TransformedData')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_WebTable')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_WebTable",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "HttpServerLocation",
						"relativeUrl": "export?exportFormat=csv"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_WebTable')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_keyvaultADLSFiles')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_KeyVaultNewFile2DF",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"FinalTName": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@dataset().FinalTName",
							"type": "Expression"
						},
						"folderPath": "KeyVaultTryALL",
						"fileSystem": "adlscontainer"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "column_a",
						"type": "String"
					},
					{
						"name": "trans_id",
						"type": "String"
					},
					{
						"name": "account_id",
						"type": "String"
					},
					{
						"name": "type",
						"type": "String"
					},
					{
						"name": "operation",
						"type": "String"
					},
					{
						"name": "amount",
						"type": "String"
					},
					{
						"name": "balance",
						"type": "String"
					},
					{
						"name": "symbol",
						"type": "String"
					},
					{
						"name": "bank",
						"type": "String"
					},
					{
						"name": "account",
						"type": "String"
					},
					{
						"name": "year",
						"type": "String"
					},
					{
						"name": "month",
						"type": "String"
					},
					{
						"name": "day",
						"type": "String"
					},
					{
						"name": "fulldate",
						"type": "String"
					},
					{
						"name": "fulltime",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_KeyVaultNewFile2DF')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_keyvault_onprem')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_keyvault_onprem",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [],
				"typeProperties": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_keyvault_onprem')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_onPremSQLOLTPTable')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_onPremSQLOLTPTable",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"TableName": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "Order_Number",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Customer_Key",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Order_Sequence_No",
						"type": "tinyint",
						"precision": 3
					},
					{
						"name": "Channel",
						"type": "nvarchar"
					},
					{
						"name": "Order_Date",
						"type": "date"
					},
					{
						"name": "Hour_of_Day",
						"type": "tinyint",
						"precision": 3
					},
					{
						"name": "Region",
						"type": "nvarchar"
					},
					{
						"name": "Brand_Key",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "Category",
						"type": "nvarchar"
					},
					{
						"name": "Units",
						"type": "tinyint",
						"precision": 3
					},
					{
						"name": "RRP_Revenue",
						"type": "float",
						"precision": 15
					},
					{
						"name": "Revenue",
						"type": "float",
						"precision": 15
					},
					{
						"name": "Total_Discount",
						"type": "float",
						"precision": 15
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": {
						"value": "@dataset().TableName",
						"type": "Expression"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_onPremSQLOLTPTable')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureKeyVault1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureKeyVault",
				"typeProperties": {
					"baseUrl": "[parameters('AzureKeyVault1_properties_typeProperties_baseUrl')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureKeyVault2')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureKeyVault",
				"typeProperties": {
					"baseUrl": "[parameters('AzureKeyVault2_properties_typeProperties_baseUrl')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SQL_ServerKey')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureKeyVault",
				"typeProperties": {
					"baseUrl": "[parameters('SQL_ServerKey_properties_typeProperties_baseUrl')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_TransformedData')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('ds_TransformedData_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('ds_TransformedData_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_ADLS')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('ls_ADLS_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('ls_ADLS_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_ADLS2DB')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('ls_ADLS2DB_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('ls_ADLS2DB_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_CSV2Parq')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('ls_CSV2Parq_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('ls_CSV2Parq_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_Drive_Bronze_input')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('ls_Drive_Bronze_input_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('ls_Drive_Bronze_input_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_EmpPar')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('ls_EmpPar_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('ls_EmpPar_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_KeyVaultCopyFromOnPrem')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "SqlServer",
				"typeProperties": {
					"server": "[parameters('ls_KeyVaultCopyFromOnPrem_properties_typeProperties_server')]",
					"database": "[parameters('ls_KeyVaultCopyFromOnPrem_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": true,
					"authenticationType": "SQL",
					"userName": "[parameters('ls_KeyVaultCopyFromOnPrem_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('ls_KeyVaultCopyFromOnPrem_password')]"
					},
					"alwaysEncryptedSettings": {
						"alwaysEncryptedAkvAuthType": "ManagedIdentity"
					}
				},
				"connectVia": {
					"referenceName": "IROnPrem",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/IROnPrem')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_KeyVaultGetMeta')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "SqlServer",
				"typeProperties": {
					"server": "[parameters('ls_KeyVaultGetMeta_properties_typeProperties_server')]",
					"database": "[parameters('ls_KeyVaultGetMeta_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": true,
					"authenticationType": "SQL",
					"userName": "[parameters('ls_KeyVaultGetMeta_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('ls_KeyVaultGetMeta_password')]"
					},
					"alwaysEncryptedSettings": {
						"alwaysEncryptedAkvAuthType": "ManagedIdentity"
					}
				},
				"connectVia": {
					"referenceName": "IROnPrem",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/IROnPrem')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_KeyVaultNewFile2DF')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('ls_KeyVaultNewFile2DF_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('ls_KeyVaultNewFile2DF_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_OnPrem2ADLS')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('ls_OnPrem2ADLS_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('ls_OnPrem2ADLS_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_OnPremLookUp')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "SqlServer",
				"typeProperties": {
					"server": "[parameters('ls_OnPremLookUp_properties_typeProperties_server')]",
					"database": "[parameters('ls_OnPremLookUp_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": true,
					"authenticationType": "SQL",
					"userName": "[parameters('ls_OnPremLookUp_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('ls_OnPremLookUp_password')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_OnPremSQL')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "SqlServer",
				"typeProperties": {
					"server": "[parameters('ls_OnPremSQL_properties_typeProperties_server')]",
					"database": "[parameters('ls_OnPremSQL_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": true,
					"authenticationType": "SQL",
					"userName": "[parameters('ls_OnPremSQL_properties_typeProperties_userName')]",
					"password": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "SQL_ServerKey",
							"type": "LinkedServiceReference"
						},
						"secretName": "SQLNiran"
					}
				},
				"connectVia": {
					"referenceName": "OnPremIRDatabricks",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/OnPremIRDatabricks')]",
				"[concat(variables('factoryId'), '/linkedServices/SQL_ServerKey')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_OnPremSQL2DB')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "SqlServer",
				"typeProperties": {
					"server": "[parameters('ls_OnPremSQL2DB_properties_typeProperties_server')]",
					"database": "[parameters('ls_OnPremSQL2DB_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": true,
					"authenticationType": "SQL",
					"userName": "[parameters('ls_OnPremSQL2DB_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('ls_OnPremSQL2DB_password')]"
					}
				},
				"connectVia": {
					"referenceName": "IROnPrem",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/IROnPrem')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_OnPremSQLServer')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "SqlServer",
				"typeProperties": {
					"server": "[parameters('ls_OnPremSQLServer_properties_typeProperties_server')]",
					"database": "[parameters('ls_OnPremSQLServer_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": true,
					"authenticationType": "SQL",
					"userName": "[parameters('ls_OnPremSQLServer_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('ls_OnPremSQLServer_password')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_OnPremTable')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "SqlServer",
				"typeProperties": {
					"server": "[parameters('ls_OnPremTable_properties_typeProperties_server')]",
					"database": "[parameters('ls_OnPremTable_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": true,
					"authenticationType": "SQL",
					"userName": "[parameters('ls_OnPremTable_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('ls_OnPremTable_password')]"
					}
				},
				"connectVia": {
					"referenceName": "IROnPrem",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/IROnPrem')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_OnPrem_Dyn_TName')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "SqlServer",
				"typeProperties": {
					"server": "[parameters('ls_OnPrem_Dyn_TName_properties_typeProperties_server')]",
					"database": "[parameters('ls_OnPrem_Dyn_TName_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": true,
					"authenticationType": "SQL",
					"userName": "[parameters('ls_OnPrem_Dyn_TName_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('ls_OnPrem_Dyn_TName_password')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_Parq')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('ls_Parq_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('ls_Parq_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_Ref_IF_Copy')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('ls_Ref_IF_Copy_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('ls_Ref_IF_Copy_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_SQLTable')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"server": "[parameters('ls_SQLTable_properties_typeProperties_server')]",
					"database": "[parameters('ls_SQLTable_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": true,
					"authenticationType": "SQL",
					"userName": "[parameters('ls_SQLTable_properties_typeProperties_userName')]",
					"password": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "AzureKeyVault2",
							"type": "LinkedServiceReference"
						},
						"secretName": "NiranSQLKey"
					},
					"alwaysEncryptedSettings": {
						"alwaysEncryptedAkvAuthType": "ManagedIdentity"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureKeyVault2')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_SQL_Bronze_Input')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('ls_SQL_Bronze_Input_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('ls_SQL_Bronze_Input_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_TempTable')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"server": "[parameters('ls_TempTable_properties_typeProperties_server')]",
					"database": "[parameters('ls_TempTable_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": true,
					"authenticationType": "SQL",
					"userName": "[parameters('ls_TempTable_properties_typeProperties_userName')]",
					"password": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "AzureKeyVault2",
							"type": "LinkedServiceReference"
						},
						"secretName": "NiranSQLKey"
					},
					"alwaysEncryptedSettings": {
						"alwaysEncryptedAkvAuthType": "ManagedIdentity"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureKeyVault2')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_WebTable')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "HttpServer",
				"typeProperties": {
					"url": "[parameters('ls_WebTable_properties_typeProperties_url')]",
					"enableServerCertificateValidation": true,
					"authenticationType": "Anonymous"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_adb_csv')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureDatabricks",
				"typeProperties": {
					"domain": "https://adb-7405615902580780.0.azuredatabricks.net",
					"accessToken": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "AzureKeyVault1",
							"type": "LinkedServiceReference"
						},
						"secretName": "AccessTokenDB"
					},
					"existingClusterId": "[parameters('ls_adb_csv_properties_typeProperties_existingClusterId')]"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureKeyVault1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_keyvault_onprem')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "SqlServer",
				"typeProperties": {
					"server": "[parameters('ls_keyvault_onprem_properties_typeProperties_server')]",
					"database": "[parameters('ls_keyvault_onprem_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": true,
					"authenticationType": "SQL",
					"userName": "[parameters('ls_keyvault_onprem_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('ls_keyvault_onprem_password')]"
					},
					"alwaysEncryptedSettings": {
						"alwaysEncryptedAkvAuthType": "ManagedIdentity"
					}
				},
				"connectVia": {
					"referenceName": "IROnPrem",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/IROnPrem')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_onPremSQLOLTPTable')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "SqlServer",
				"typeProperties": {
					"server": "[parameters('ls_onPremSQLOLTPTable_properties_typeProperties_server')]",
					"database": "[parameters('ls_onPremSQLOLTPTable_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": true,
					"authenticationType": "SQL",
					"userName": "[parameters('ls_onPremSQLOLTPTable_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('ls_onPremSQLOLTPTable_password')]"
					},
					"alwaysEncryptedSettings": {
						"alwaysEncryptedAkvAuthType": "ManagedIdentity"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/IROnPrem')]",
			"type": "Microsoft.DataFactory/factories/integrationRuntimes",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "SelfHosted",
				"typeProperties": {
					"selfContainedInteractiveAuthoringEnabled": true
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/OnPremIRDatabricks')]",
			"type": "Microsoft.DataFactory/factories/integrationRuntimes",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "SelfHosted",
				"typeProperties": {}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Joins')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "ds_JoinInput",
								"type": "DatasetReference"
							},
							"name": "source1"
						},
						{
							"dataset": {
								"referenceName": "ds_Join2Input",
								"type": "DatasetReference"
							},
							"name": "source2"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "ds_JoinOutput",
								"type": "DatasetReference"
							},
							"name": "sink1"
						}
					],
					"transformations": [
						{
							"name": "join1"
						}
					],
					"scriptLines": [
						"source(output(",
						"          ID as integer,",
						"          FIRST_NAME as string,",
						"          LAST_NAME as string,",
						"          MEMBER_ID as string,",
						"          APPOINTMENT_DESCRIPTION as string,",
						"          APPOINTMENT_ID as integer,",
						"          AGE as integer,",
						"          APPOINTMENT_DATE as string,",
						"          Gender as string,",
						"          TREATMENT_AMOUNT as integer",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> source1",
						"source(output(",
						"          ID as integer,",
						"          FIRST_NAME as string,",
						"          LAST_NAME as string,",
						"          MEMBER_ID as integer,",
						"          APPOINTMENT_DESCRIPTION as string,",
						"          APPOINTMENT_ID as integer,",
						"          AGE as integer,",
						"          APPOINTMENT_DATE as string,",
						"          Gender as string,",
						"          TREATMENT_AMOUNT as integer",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> source2",
						"source1, source2 join(source1@APPOINTMENT_ID == source2@APPOINTMENT_ID,",
						"     joinType:'inner',",
						"     matchType:'exact',",
						"     ignoreSpaces: false,",
						"     broadcast: 'auto')~> join1",
						"join1 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          column_a as string,",
						"          trans_id as string,",
						"          account_id as string,",
						"          type as string,",
						"          operation as string,",
						"          amount as string,",
						"          balance as string,",
						"          symbol as string,",
						"          bank as string,",
						"          account as string,",
						"          year as string,",
						"          month as string,",
						"          day as string,",
						"          fulldate as string,",
						"          fulltime as string",
						"     ),",
						"     umask: 0022,",
						"     preCommands: [],",
						"     postCommands: [],",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> sink1"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_JoinInput')]",
				"[concat(variables('factoryId'), '/datasets/ds_Join2Input')]",
				"[concat(variables('factoryId'), '/datasets/ds_JoinOutput')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/KeyVaultTryAll')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "ds_keyvaultADLSFiles",
								"type": "DatasetReference"
							},
							"name": "OnPremSQL2ADLSFile"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "ds_JoinOutput",
								"type": "DatasetReference"
							},
							"name": "sink1"
						},
						{
							"dataset": {
								"referenceName": "ds_JoinOutput",
								"type": "DatasetReference"
							},
							"name": "sink2"
						}
					],
					"transformations": [
						{
							"name": "split1"
						},
						{
							"name": "aggregate1"
						},
						{
							"name": "filter1"
						}
					],
					"scriptLines": [
						"source(output(",
						"          column_a as integer,",
						"          trans_id as string,",
						"          account_id as string,",
						"          type as string,",
						"          operation as string,",
						"          amount as float,",
						"          balance as float,",
						"          symbol as string,",
						"          bank as string,",
						"          account as string,",
						"          year as string,",
						"          month as string,",
						"          day as string,",
						"          fulldate as date,",
						"          fulltime as date",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> OnPremSQL2ADLSFile",
						"OnPremSQL2ADLSFile split(column_a <100,",
						"     disjoint: false) ~> split1@(NewTable1, NewTable2)",
						"split1@NewTable2 aggregate(groupBy(fulldate),",
						"     amount = sum(amount)) ~> aggregate1",
						"split1@NewTable1 filter(amount>5000) ~> filter1",
						"filter1 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          column_a as string,",
						"          trans_id as string,",
						"          account_id as string,",
						"          type as string,",
						"          operation as string,",
						"          amount as string,",
						"          balance as string,",
						"          symbol as string,",
						"          bank as string,",
						"          account as string,",
						"          year as string,",
						"          month as string,",
						"          day as string,",
						"          fulldate as string,",
						"          fulltime as string",
						"     ),",
						"     umask: 0022,",
						"     preCommands: [],",
						"     postCommands: [],",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> sink1",
						"aggregate1 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          column_a as string,",
						"          trans_id as string,",
						"          account_id as string,",
						"          type as string,",
						"          operation as string,",
						"          amount as string,",
						"          balance as string,",
						"          symbol as string,",
						"          bank as string,",
						"          account as string,",
						"          year as string,",
						"          month as string,",
						"          day as string,",
						"          fulldate as string,",
						"          fulltime as string",
						"     ),",
						"     umask: 0022,",
						"     preCommands: [],",
						"     postCommands: [],",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> sink2"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_keyvaultADLSFiles')]",
				"[concat(variables('factoryId'), '/datasets/ds_JoinOutput')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/transformations_project')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "ds_SQLTable",
								"type": "DatasetReference"
							},
							"name": "source1"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "ds_TransformedData",
								"type": "DatasetReference"
							},
							"name": "TransformedData"
						}
					],
					"transformations": [
						{
							"name": "SelectWanted"
						},
						{
							"name": "UKData"
						},
						{
							"name": "ArrangeOnDiscount"
						}
					],
					"scriptLines": [
						"source(output(",
						"          Order_Number as integer,",
						"          Customer_Key as integer,",
						"          Order_Sequence_No as integer,",
						"          Channel as string,",
						"          Order_Date as date,",
						"          Hour_of_Day as integer,",
						"          Region as string,",
						"          Brand_Key as integer,",
						"          Category as string,",
						"          Units as integer,",
						"          RRP_Revenue as double,",
						"          Revenue as double,",
						"          Total_Discount as double",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     isolationLevel: 'READ_UNCOMMITTED',",
						"     format: 'table') ~> source1",
						"source1 select(mapColumn(",
						"          Order_Number,",
						"          Customer_Key,",
						"          Order_Sequence_No,",
						"          Channel,",
						"          Order_Date,",
						"          Hour_of_Day,",
						"          Region,",
						"          Brand_Key,",
						"          Category,",
						"          Units,",
						"          RRP_Revenue,",
						"          Revenue,",
						"          Total_Discount",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> SelectWanted",
						"SelectWanted filter(Region == 'UK' && Total_Discount > 0) ~> UKData",
						"UKData sort(asc(Total_Discount, true)) ~> ArrangeOnDiscount",
						"ArrangeOnDiscount sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     truncate: true,",
						"     umask: 0022,",
						"     preCommands: [],",
						"     postCommands: [],",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> TransformedData"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_SQLTable')]",
				"[concat(variables('factoryId'), '/datasets/ds_TransformedData')]"
			]
		}
	]
}