ADFTraining2026/linkedTemplates/ArmTemplate_3.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "ADFTraining2026"
		},
		"ls_OnPremSQL2DB_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'ls_OnPremSQL2DB'"
		},
		"ls_OnPremTable_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'ls_OnPremTable'"
		},
		"ls_keyvault_onprem_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'ls_keyvault_onprem'"
		},
		"ls_OnPremSQL2DB_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "FALCON"
		},
		"ls_OnPremSQL2DB_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "LearnSQL"
		},
		"ls_OnPremSQL2DB_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "Sree"
		},
		"ls_OnPremTable_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "FALCON"
		},
		"ls_OnPremTable_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "LearnSQL"
		},
		"ls_OnPremTable_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "Niran"
		},
		"ls_SQLTable_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "historical.database.windows.net"
		},
		"ls_SQLTable_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "TempData"
		},
		"ls_SQLTable_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "Niran"
		},
		"ls_TempTable_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "historical.database.windows.net"
		},
		"ls_TempTable_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "TempData"
		},
		"ls_TempTable_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "Niran"
		},
		"ls_adb_csv_properties_typeProperties_existingClusterId": {
			"type": "string",
			"defaultValue": "0209-025758-ausnyyzo"
		},
		"ls_keyvault_onprem_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "FALCON"
		},
		"ls_keyvault_onprem_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "LearnSQL"
		},
		"ls_keyvault_onprem_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "Sree"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/ls_OnPremSQL2DB')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "SqlServer",
				"typeProperties": {
					"server": "[parameters('ls_OnPremSQL2DB_properties_typeProperties_server')]",
					"database": "[parameters('ls_OnPremSQL2DB_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": true,
					"authenticationType": "SQL",
					"userName": "[parameters('ls_OnPremSQL2DB_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('ls_OnPremSQL2DB_password')]"
					}
				},
				"connectVia": {
					"referenceName": "IROnPrem",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_OnPremTable')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "SqlServer",
				"typeProperties": {
					"server": "[parameters('ls_OnPremTable_properties_typeProperties_server')]",
					"database": "[parameters('ls_OnPremTable_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": true,
					"authenticationType": "SQL",
					"userName": "[parameters('ls_OnPremTable_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('ls_OnPremTable_password')]"
					}
				},
				"connectVia": {
					"referenceName": "IROnPrem",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_SQLTable')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"server": "[parameters('ls_SQLTable_properties_typeProperties_server')]",
					"database": "[parameters('ls_SQLTable_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": true,
					"authenticationType": "SQL",
					"userName": "[parameters('ls_SQLTable_properties_typeProperties_userName')]",
					"password": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "AzureKeyVault2",
							"type": "LinkedServiceReference"
						},
						"secretName": "NiranSQLKey"
					},
					"alwaysEncryptedSettings": {
						"alwaysEncryptedAkvAuthType": "ManagedIdentity"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_TempTable')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"server": "[parameters('ls_TempTable_properties_typeProperties_server')]",
					"database": "[parameters('ls_TempTable_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": true,
					"authenticationType": "SQL",
					"userName": "[parameters('ls_TempTable_properties_typeProperties_userName')]",
					"password": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "AzureKeyVault2",
							"type": "LinkedServiceReference"
						},
						"secretName": "NiranSQLKey"
					},
					"alwaysEncryptedSettings": {
						"alwaysEncryptedAkvAuthType": "ManagedIdentity"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_adb_csv')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureDatabricks",
				"typeProperties": {
					"domain": "https://adb-7405615902580780.0.azuredatabricks.net",
					"accessToken": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "AzureKeyVault1",
							"type": "LinkedServiceReference"
						},
						"secretName": "AccessTokenDB"
					},
					"existingClusterId": "[parameters('ls_adb_csv_properties_typeProperties_existingClusterId')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_keyvault_onprem')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "SqlServer",
				"typeProperties": {
					"server": "[parameters('ls_keyvault_onprem_properties_typeProperties_server')]",
					"database": "[parameters('ls_keyvault_onprem_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": true,
					"authenticationType": "SQL",
					"userName": "[parameters('ls_keyvault_onprem_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('ls_keyvault_onprem_password')]"
					},
					"alwaysEncryptedSettings": {
						"alwaysEncryptedAkvAuthType": "ManagedIdentity"
					}
				},
				"connectVia": {
					"referenceName": "IROnPrem",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_KeyVaultCopyFromOnPrem')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_KeyVaultCopyFromOnPrem",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"CopyTableName": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo",
					"table": {
						"value": "@dataset().CopyTableName",
						"type": "Expression"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_KeyVault_GetMeta')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_KeyVaultGetMeta",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"TableName": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo",
					"table": {
						"value": "@dataset().TableName",
						"type": "Expression"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_OnPremSQL')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_OnPremSQL",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "customer_id",
						"type": "tinyint",
						"precision": 3
					},
					{
						"name": "customer_name",
						"type": "nvarchar"
					},
					{
						"name": "email",
						"type": "nvarchar"
					},
					{
						"name": "phone",
						"type": "nvarchar"
					},
					{
						"name": "address",
						"type": "nvarchar"
					},
					{
						"name": "city",
						"type": "nvarchar"
					},
					{
						"name": "state",
						"type": "nvarchar"
					},
					{
						"name": "zip_code",
						"type": "int",
						"precision": 10
					},
					{
						"name": "country",
						"type": "nvarchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "Customers"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_OnPremSQL2DB')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_OnPremSQL2DB",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [],
				"typeProperties": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_OnPremSQL2DB')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_OnPremTable')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_OnPremTable",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo",
					"table": "CompTrans"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_OnPremTable')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_SQLTable')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_SQLTable",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "Order_Number",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Customer_Key",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Order_Sequence_No",
						"type": "tinyint",
						"precision": 3
					},
					{
						"name": "Channel",
						"type": "nvarchar"
					},
					{
						"name": "Order_Date",
						"type": "date"
					},
					{
						"name": "Hour_of_Day",
						"type": "tinyint",
						"precision": 3
					},
					{
						"name": "Region",
						"type": "nvarchar"
					},
					{
						"name": "Brand_Key",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "Category",
						"type": "nvarchar"
					},
					{
						"name": "Units",
						"type": "tinyint",
						"precision": 3
					},
					{
						"name": "RRP_Revenue",
						"type": "float",
						"precision": 15
					},
					{
						"name": "Revenue",
						"type": "float",
						"precision": 15
					},
					{
						"name": "Total_Discount",
						"type": "float",
						"precision": 15
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "TransactionsDataOLAP"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_SQLTable')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_TempTable')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_TempTable",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "Order_Number",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "Customer_Key",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "Order_Sequence_No",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Channel",
						"type": "varchar"
					},
					{
						"name": "Order_Date",
						"type": "varchar"
					},
					{
						"name": "Hour_of_Day",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Region",
						"type": "varchar"
					},
					{
						"name": "Brand_Key",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Category",
						"type": "varchar"
					},
					{
						"name": "Units",
						"type": "int",
						"precision": 10
					},
					{
						"name": "RRP_Revenue",
						"type": "decimal",
						"precision": 10,
						"scale": 2
					},
					{
						"name": "Revenue",
						"type": "decimal",
						"precision": 10,
						"scale": 2
					},
					{
						"name": "Total_Discount",
						"type": "int",
						"precision": 10
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "TransactionsDataOLAP"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_TempTable')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_keyvault_onprem')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_keyvault_onprem",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [],
				"typeProperties": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_keyvault_onprem')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Joins')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "ds_JoinInput",
								"type": "DatasetReference"
							},
							"name": "source1"
						},
						{
							"dataset": {
								"referenceName": "ds_Join2Input",
								"type": "DatasetReference"
							},
							"name": "source2"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "ds_JoinOutput",
								"type": "DatasetReference"
							},
							"name": "sink1"
						}
					],
					"transformations": [
						{
							"name": "join1"
						}
					],
					"scriptLines": [
						"source(output(",
						"          ID as integer,",
						"          FIRST_NAME as string,",
						"          LAST_NAME as string,",
						"          MEMBER_ID as string,",
						"          APPOINTMENT_DESCRIPTION as string,",
						"          APPOINTMENT_ID as integer,",
						"          AGE as integer,",
						"          APPOINTMENT_DATE as string,",
						"          Gender as string,",
						"          TREATMENT_AMOUNT as integer",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> source1",
						"source(output(",
						"          ID as integer,",
						"          FIRST_NAME as string,",
						"          LAST_NAME as string,",
						"          MEMBER_ID as integer,",
						"          APPOINTMENT_DESCRIPTION as string,",
						"          APPOINTMENT_ID as integer,",
						"          AGE as integer,",
						"          APPOINTMENT_DATE as string,",
						"          Gender as string,",
						"          TREATMENT_AMOUNT as integer",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> source2",
						"source1, source2 join(source1@APPOINTMENT_ID == source2@APPOINTMENT_ID,",
						"     joinType:'inner',",
						"     matchType:'exact',",
						"     ignoreSpaces: false,",
						"     broadcast: 'auto')~> join1",
						"join1 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          column_a as string,",
						"          trans_id as string,",
						"          account_id as string,",
						"          type as string,",
						"          operation as string,",
						"          amount as string,",
						"          balance as string,",
						"          symbol as string,",
						"          bank as string,",
						"          account as string,",
						"          year as string,",
						"          month as string,",
						"          day as string,",
						"          fulldate as string,",
						"          fulltime as string",
						"     ),",
						"     umask: 0022,",
						"     preCommands: [],",
						"     postCommands: [],",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> sink1"
					]
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/KeyVaultTryAll')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "ds_keyvaultADLSFiles",
								"type": "DatasetReference"
							},
							"name": "OnPremSQL2ADLSFile"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "ds_JoinOutput",
								"type": "DatasetReference"
							},
							"name": "sink1"
						},
						{
							"dataset": {
								"referenceName": "ds_JoinOutput",
								"type": "DatasetReference"
							},
							"name": "sink2"
						}
					],
					"transformations": [
						{
							"name": "split1"
						},
						{
							"name": "aggregate1"
						},
						{
							"name": "filter1"
						}
					],
					"scriptLines": [
						"source(output(",
						"          column_a as integer,",
						"          trans_id as string,",
						"          account_id as string,",
						"          type as string,",
						"          operation as string,",
						"          amount as float,",
						"          balance as float,",
						"          symbol as string,",
						"          bank as string,",
						"          account as string,",
						"          year as string,",
						"          month as string,",
						"          day as string,",
						"          fulldate as date,",
						"          fulltime as date",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> OnPremSQL2ADLSFile",
						"OnPremSQL2ADLSFile split(column_a <100,",
						"     disjoint: false) ~> split1@(NewTable1, NewTable2)",
						"split1@NewTable2 aggregate(groupBy(fulldate),",
						"     amount = sum(amount)) ~> aggregate1",
						"split1@NewTable1 filter(amount>5000) ~> filter1",
						"filter1 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          column_a as string,",
						"          trans_id as string,",
						"          account_id as string,",
						"          type as string,",
						"          operation as string,",
						"          amount as string,",
						"          balance as string,",
						"          symbol as string,",
						"          bank as string,",
						"          account as string,",
						"          year as string,",
						"          month as string,",
						"          day as string,",
						"          fulldate as string,",
						"          fulltime as string",
						"     ),",
						"     umask: 0022,",
						"     preCommands: [],",
						"     postCommands: [],",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> sink1",
						"aggregate1 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          column_a as string,",
						"          trans_id as string,",
						"          account_id as string,",
						"          type as string,",
						"          operation as string,",
						"          amount as string,",
						"          balance as string,",
						"          symbol as string,",
						"          bank as string,",
						"          account as string,",
						"          year as string,",
						"          month as string,",
						"          day as string,",
						"          fulldate as string,",
						"          fulltime as string",
						"     ),",
						"     umask: 0022,",
						"     preCommands: [],",
						"     postCommands: [],",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> sink2"
					]
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DatabricksPro')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "GoogleDriveFile",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "HttpReadSettings",
									"requestMethod": "GET",
									"requestTimeout": ""
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".csv"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_WebTable",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_Drive_Bronze_input",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "OnPrem",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".csv"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_OnPremSQL",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_SQL_Bronze_Input",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "CSV2Parquet",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "GoogleDriveFile",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "ParquetSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "ParquetWriteSettings"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_Parq1",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_Parq",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "CSV2Parquet_1",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "OnPrem",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "ParquetSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "ParquetWriteSettings"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_2Parq",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_Parq",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "MinorTransformation",
						"type": "DatabricksNotebook",
						"dependsOn": [
							{
								"activity": "CSV2Parquet_1",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "CSV2Parquet",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Workspace_Sree/Project1/silver",
							"baseParameters": {
								"file_name1": "Orders.parquet",
								"file_name2": "Customers.parquet",
								"file_type": "parquet"
							}
						},
						"linkedServiceName": {
							"referenceName": "ls_DataBricksPro",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": [],
				"lastPublishTime": "2026-03-08T12:18:46Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_OnPremSQL')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/transformations_project')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "ds_SQLTable",
								"type": "DatasetReference"
							},
							"name": "source1"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "ds_TransformedData",
								"type": "DatasetReference"
							},
							"name": "TransformedData"
						}
					],
					"transformations": [
						{
							"name": "SelectWanted"
						},
						{
							"name": "UKData"
						},
						{
							"name": "ArrangeOnDiscount"
						}
					],
					"scriptLines": [
						"source(output(",
						"          Order_Number as integer,",
						"          Customer_Key as integer,",
						"          Order_Sequence_No as integer,",
						"          Channel as string,",
						"          Order_Date as date,",
						"          Hour_of_Day as integer,",
						"          Region as string,",
						"          Brand_Key as integer,",
						"          Category as string,",
						"          Units as integer,",
						"          RRP_Revenue as double,",
						"          Revenue as double,",
						"          Total_Discount as double",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     isolationLevel: 'READ_UNCOMMITTED',",
						"     format: 'table') ~> source1",
						"source1 select(mapColumn(",
						"          Order_Number,",
						"          Customer_Key,",
						"          Order_Sequence_No,",
						"          Channel,",
						"          Order_Date,",
						"          Hour_of_Day,",
						"          Region,",
						"          Brand_Key,",
						"          Category,",
						"          Units,",
						"          RRP_Revenue,",
						"          Revenue,",
						"          Total_Discount",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> SelectWanted",
						"SelectWanted filter(Region == 'UK' && Total_Discount > 0) ~> UKData",
						"UKData sort(asc(Total_Discount, true)) ~> ArrangeOnDiscount",
						"ArrangeOnDiscount sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     truncate: true,",
						"     umask: 0022,",
						"     preCommands: [],",
						"     postCommands: [],",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> TransformedData"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_SQLTable')]"
			]
		}
	]
}